.w3-blue, .w3-hover-blue:hover {
color:#0D3249!important;
background-color:#0D3249  !important;
	
}
	.w3-yellow, .w3-hover-yellow:hover {
color: #000!important;
background-color: #F4C918!important;
}
{"index.html w3-container"  
	padding: 0.01em 1x!important;}

 
}
.logo { float left;
	
}